.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: black;
    font-family: sans-serif;
    box-shadow: 0px 6.98256px 16.4564px rgba(0, 0, 0, 0.2);
}

.navbar-ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-top: 0;
}

.navbar-ul > li {
    list-style: none;
    padding: 15px;
    padding-top: 40px;
    margin: 5px;
    color: #808080;
    transition: transform 0.7s ease-in-out;
}

.navbar-ul > li:hover {
    transform: translateY(-5px);
    color: #333;
}

.navbar-link {
    text-decoration: none;
    color: #9a9a9a;
    transition: transform 0.3s ease-in-out;
}

.navbar-link:hover {
    transform: translateY(-5px);
    color: #000000; 
    text-shadow: rgb(185, 185, 185) 1px 0 10px;
}

.navbar-link:active,
.navbar-link:focus {
    transition: transform 0.3s ease-in-out;
    color: #000000; 
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.boat-themed-heading {
    color: black;
    padding-top: 20px;
    font-size:x-large;
    font-family: 'Patrick Hand', cursive; /* Apply the boat-themed font */
}